<form method="post" action="{{ path('app_duplicata_demande_delete', {'id': duplicata_demande.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet enregistrement ? ');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ duplicata_demande.id) }}">
    <button class="btn">Delete</button>
</form>
