<form method="post" action="{{ path('app_profession_delete', {'id': profession.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet enregistrement ? ');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profession.id) }}">
    <button class="link-danger">Supprimer</button>
</form>
