<form method="post" action="{{ path('app_organe_delete', {'id': organe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ organe.id) }}">
    <button class="dropdown-item link-danger">Supprimer</button>
</form>
