{% extends 'base.html.twig' %}

{% block title %}Cartes Prêtes pour Impression{% endblock %}
{% block datatables %}{% endblock %}
{% block bouton %}{% endblock %}

{% block body %}


        <table id="myTable" class="table table-bordered table-hover datatable-init">
            <thead class="table-light">
            <tr>
                <th>Numéro de Demande</th>
                <th>Nom</th>
                <th>Prénoms</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for carte in cartePretes %}
                <tr>
                    <td>{{ carte.demande.numDemande }}</td>
                    <td>{{carte.demande.professionnel.nom }}</td>
                    <td>{{carte.demande.professionnel.prenoms }}</td>
                    <td>
                        <a href="{{ path('app_print_card_second', { 'id': carte.id }) }}" class="btn btn-primary">Visualiser & Imprimer</a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

{% endblock %}
