/* custom-select2.css */
.select2-container .select2-selection--single {
    height: 38px;
    line-height: 38px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #495057;
    line-height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    min-height: 38px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    height: 28px;
    line-height: 28px;
    background-color: #e9ecef;
    color: #495057;
    border-radius: 0.25rem;
}


