{# templates/emails/demande_submission.html.twig #}
<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title> Nouveau lot de demande créé.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nouveau lot de demande créé.">
</head>

<body style="font-family: Nunito, sans-serif; font-size: 15px; font-weight: 400;">
<div style="margin-top: 50px;">
    <table cellpadding="0" cellspacing="0" style="font-family: Nunito, sans-serif; font-size: 15px; font-weight: 400; max-width: 600px; border: none; margin: 0 auto; border-radius: 6px; overflow: hidden; background-color: #fff; box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);">
        <thead>
        <tr style="padding: 3px 0; line-height: 68px; text-align: center; color: #fff; font-size: 24px; font-weight: 700; letter-spacing: 1px;">
            <th scope="col"><img src="http://haac.bj/wp-content/uploads/2024/07/logo-haac.png" width="30%" alt=""></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td style="padding: 24px 24px;">
                <div style="padding: 8px; color: #16a34a;  border: 1px solid rgb(22,163,74); border-radius: 6px; text-align: center; font-size: 16px; font-weight: 600;">
                  Nouveau lot de demande créé.
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 24px 15px; color: #8492a6;">
                <div>
                    Bonjour Mr/Mme
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 24px 15px; color: #8492a6;">
                Un nouveau lot de demandes a été créé et est en attente de validation pour l'impression des cartes.
            </td>
        </tr>
        <tr>
            <td style="padding: 0 24px 15px; color: #8492a6;">
                <p>Bonjour,</p>
             </p>
                <p>Voici les détails du lot :</p>
                <ul>
                    <li><strong>ID du Lot :</strong> {{ lot.id }}</li>
                    <li><strong>Date de création :</strong> {{ lot.dateCreation|date('d/m/Y H:i') }}</li>
                    <li>
                        <a href=""></a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td style="padding: 15px 24px 0; color: #8492a6;">
                Merci pour votre confiance.
            </td>
        </tr>
        <tr>
            <td style="padding: 15px 24px 15px; color: #8492a6; text-align:center;">
                L'équipe de la HAAC
            </td>
        </tr>
        <tr>
            <td style="padding: 16px 8px; color: #8492a6; background-color: #f8f9fc; text-align: center;">
                © <script>document.write(new Date().getFullYear())</script>  SADCP. Tous droits réservés
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
