{% extends 'base.html.twig' %}

{% block title %}Edit President{% endblock %}

{% block body %}
    <h1>Edit President</h1>

    {{ include('president/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


{% endblock %}
