{% extends 'base.html.twig' %}

{% block title %}Ajouter un agent{% endblock %}
{% block breadcrumb %}Compte{% endblock %}
{% block breadcrumbActive %}Ajout{% endblock %}

{% block body %}
    <div class="my-3 text-end">
        <a href="{{ path('app_user_index') }}" class="btn btn-success">Liste des agents</a>
    </div>

    {{ include('user/_formPersonnel.html.twig') }}
{% endblock %}
