{% extends 'base.html.twig' %}

{% block title %}Modifier le type de pièce{% endblock %}
{% block bouton %}
    <a href="{{ path('app_type_piece_index') }}" class="btn btn-outline-secondary">Retour à la liste</a>
{% endblock %}

{% block body %}


    {{ include('type_piece/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

{% endblock %}
